node_modules
build
npm-debug.log
.env
.DS_Store
media
Tawassam/Tawassam/settings.py
Tawassam/backend/migrations
migrations
Tawassam/settings.py
settings.py
settings
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
