.border-4 {
    border-width:4px !important;
}
#down {
  position: absolute;
  bottom: 0;
  width: 100%
}
.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 300px; /* height of your footer */
}

.border-3 {
   border-width:3px !important;
}
