<!DOCTYPE html>
{% load static %}
<html>
<div class="main-container">
	<head>
		<title>Tawassam</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	 	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	   <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	   <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" media="screen"></link>
	   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	 
	   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	   <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	   <script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	   <!-- <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@500&display=swap" rel="stylesheet">
	   <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet"> -->
	   <!-- <script type="text/javascript" src="{% static 'js/hammer.min.js' %}" ></script>
	   <script type="text/javascript" src="{% static 'js/jquery.hammer.js' %}"></script>
	   <script type="text/javascript" src=" {% static 'js/jquery.mousewheel.js' %}"></script>
	   <script type="text/javascript" src=" {% static 'js/imgViewer.min.js' %}"></script>
	   <script type="text/javascript" src=" {% static 'js/imgNotes.min.js' %}"></script>  -->
	</head>
	<body class="bg-light" >
      <div id="app"></div>

      <!-- script -->
       <script type="text/javascript" src="{% static "frontend/main.js" %}">
       </script>

	</body>
</div>
</html>
