<!DOCTYPE html>
{% load static %}
<html>

	<head>
		<title>Tawassam</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
		 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

	 	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	   <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	   <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" media="screen"></link>
	   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	 
	   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	   <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	   <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	</head>


	<body class="bg-light" >
	  <div id="app" class="loader" style="margin-bottom: -800px;"></div>

	<div class="htmlLoader">
	  <div class="row">
		<div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 mx-auto">
            <img
              src=
                "https://tawassam.ams3.digitaloceanspaces.com/Test1/media/tawassamLogo.png"
              
              class="img-fluid mt-5 mb-3"
              alt="Responsive image"
              style="width: 150%;"
            />
            </div>
	  </div>
	  <div id="loadingProgressG">
		<div id="loadingProgressG_1" class="loadingProgressG"></div>
	</div>
</div>
	


       <!-- script -->
       <script type="text/javascript" src="{% static "frontend/main.js" %}">
       </script>
	   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

	</body>

</html>
